body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: black;
    font-size: 60px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.473);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid black;
}

#ins{
    float: right;
    margin-right: 2%;
    background-color: red;
    font-size: 35px;
    color: white;
    border: 6px solid black;
}

#big{
    width: 50%;
}

#start{
    background-color: lightgreen;
    font-size: 40px;
    color: black;
    border: 5px solid black;
    border-radius: 20%;
}

#restart{
    background-color: lightgreen;
    font-size: 40px;
    color: black;
    border: 5px solid black;
    border-radius: 20%;
}

#footer{
    background-color: rgba(255, 255, 255, 0.548);
    font-size: 40px;
    color: black;
    border: 5px solid black;
    border-radius: 5%;
    position: fixed;
    bottom: 0;
    width: 99.5%;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

canvas {
    border: 5px solid blue;
}